:root {
    --sorta-black: #535353;
    --light-purple: #f37df3;
    --light-blue: #6fa9f5;
}

/* Typography */

* {
    font-family: 'Titillium Web', sans-serif;
    color: var(--sorta-black);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    margin: .5rem 0rem .5rem 0rem;
}

h1, h2, h3, h4 {
    color: var(--violet);
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.45rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: .85rem;
}

a {
    color: #457dc7;
}

a:hover {
    color: #6fa9f5;
}

.navbar a, .custom-footer a, .logo a, .custom-navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover, .custom-footer a:hover, .custom-navbar a:hover {
    color: var(--light-purple);
}

span {
    font-size: .8rem;
}

/* Buttons */

.button-gradient {
    font-weight: bolder;
    text-transform: uppercase;
    padding: 8px 24px;
    color: var(--sorta-black);
    border: solid 3px transparent;
    border-radius: 5px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, var(--light-purple), var(--light-blue));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px white inset;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
}

.button-gradient:hover, .button-gradient:active {
    animation-name: button-gradient-anim;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes button-gradient-anim {
    0% {
        box-shadow: 2px 1000px 1px white inset;
        color: var(--sorta-black);
    }
    100% {
        box-shadow: none; 
        color: white;
    }
}

/* Body */
body {
    background: var(--sorta-black);
    padding: 0px;
    margin: 0px;
}

div {
    padding: 0px;
    margin: 0px;
}

/* Header/Footer */

.logo {
    border-top: 4px solid var(--light-purple);
    float: left;
    font-size: 3rem;
    padding-top: .6rem;
    text-transform: uppercase;
}

.custom-navbar {
    padding-top: 2rem;
    text-align: right;
}

.custom-navbar li, .custom-footer li {
    display: inline-block;
    margin: 0 .75rem;
}

.custom-navbar li:last-child, .custom-footer li:last-child {
    margin-right: 0rem;
}

.custom-footer {
    text-align: right;
}

/* Content */
img {
    border: 1px solid var(--sorta-black);
}

.gradient-row {
    background: linear-gradient(90deg, var(--light-purple), var(--light-blue));
}

.gradient-content {
    color: white;
    text-align: center;
}

.page-content {
    background: white;
    padding: 2rem 0rem 2rem 0rem;
}

.language-icons {
    display: inline-block;
    border: none;
    height: 1rem;
    padding: 0px;
    margin: 0px;
}

#profile-picture {
    border-radius: 5px;
}

/* Table */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 275px;
}

tr {
    border-bottom: 1px solid var(--sorta-black);
    max-height: 2em;
}

tr:last-child {
    border: none;
}

td {
    padding: 0.25em 2em 0.25em 0em;
}

/*Form */

form {
    padding-bottom: 1rem;
}

input, textarea {
    border: 1px solid var(--sorta-black);
    display: block;
    border-radius: 5px;
    margin: .25em 0em .25em 0em;
    padding: .25em .5em;
    width: 24rem;
}

textarea {
    height: 8rem;
}

/* Lists */

ul {
    list-style: square;
}

li {
    padding: 2px;
}

/* Media Queries */

@media print {
    #shortcuts, #contact-me {
        visibility: hidden;
    }
}